<h1>Contact me</h1>
<%= form_with method: :get do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.label :email, "Email:" %><br>
  <%= form.email_field :email %><br>
  <%= form.label :first_name, "Name:" %><br>
  <%= form.text_field :first_name %><br>
  <%= form.label :body, "Message:" %><br>
  <%= form.text_area :body %><br>
  <%= form.submit "Send" %>
  <% mail_to "me@domain.com", "My email" %>
<% end %>