<%= form_with model: article, data: { turbo: false } do |form| %>
<main class="form-edit-article w-100 m-auto text-center">
  <div class="row">
    <div class="form-group col-7">
    <%= form.text_field :title, type: 'title', class: 'form-control', placeholder: 'Название', required: true %>
    </div>

    <div class="form-floating col-5">
      <%= form.select :status, [['Публичный', :public], ['Черновик', :draft]], class: 'form-select' %>
    </div>

  </div>
<div>
  <div class="form-group">
    <%= form.text_area :body, type: 'body', class: 'form-control', id: 'auto-height', placeholder: 'Содержание', style: 'margin-top: 10px;' %>
  </div>
</div>
<button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить</button>
</main>
<div class="notice text-center fixed-bottom">
  <% @article.errors.full_messages_for(:title).each do |message| %>
    <%= message %>
  <% end %>
  <% @article.errors.full_messages_for(:body).each do |message| %>
    <%= message %>
  <% end %>
</div>
<% end %>

<%= javascript_pack_tag 'auto_height' %>
