<% if @article.draft? %>
  <% if user_signed_in? && current_user.id == @article.user_id %>
    <hr>
    <h1 class="article-title"><%= @article.title %></h1>
    <p class="blog-post-status">Статус: черновик</p>
    <hr>
    <div class="blog-post">
        <div><%= @article.body %></div><hr>
        <%= link_to 'К моим статьям', articles_path %><br>
    </div>
  <% else %>
    <div class="notice text-center fixed-bottom">Access denied</div>
    <h1 class="mid">Содержимое недоступно</h1>
  <% end %>
<% else %>
  <h1 class="article-title"><%= @article.title %></h1>
  <div class="blog-post">
    <%# user = User.find_by(id: @article.user_id) %>
    <% if @user.avatar.present? %>
      <%= image_tag @user.avatar.variant(resize_to_limit: [64, 64]), style: 'border-radius: 32px;' %>
    <% end %>
  <%= @user.first_name %> <%= @user.last_name %> <label class="author-meta">(Автор)</label>
  <div><%= simple_format(@article.body) %></div>
    <% if user_signed_in? && current_user.id == @article.user_id %>
    <%= link_to 'Удалить статью', @article, class: 'delete-link', data: {
          turbo_method: :delete,
          confirm: 'Вы уверены?'
        } %>
  <% end %>
  </div>
 
  <hr>
  <%= render 'comments'%>
<% end %>
