<% if !@article.draft? %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<% if current_user.id == @article.user_id %>
    <%= link_to "Редактировать", edit_article_path(@article) %>   
    <li><a href="/articles/">К моим статьям</a></li>
<% end %>
<% else %>
<% if current_user.id == @article.user_id %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "Редактировать", edit_article_path(@article) %>  
<% else %>
Содержимое недоступно
<% end %>

<% end %>

<%= link_to 'Назад', :back %>