<% if @article.draft? %>
  <% if user_signed_in? && current_user.id == @article.user_id %>
    <hr>
    <h1 class="article-title"><%= @article.title %></h1>
    <p class="blog-post-status">Статус: черновик</p>
    <hr>
    <div class="blog-post">
        <div><%= @article.body %></div><hr>
        <%= link_to 'К моим статьям', articles_path %><br>
    </div>
  <% else %>
    <div class="notice text-center fixed-bottom">Access denied</div>
    <h1 class="mid">Содержимое недоступно</h1>
  <% end %>
<% else %>
  <hr><h1 class="article-title"><%= @article.title %></h1><hr>
  <div class="blog-post">
  <div><%= simple_format(@article.body) %></div>
  </div>
<% end %>

<h2 class="mid" style="margin: 10px;">Комментарии</h2>
  <div class="blog-post mid">
<% @article.comments.each do |comment| %>
    <%= comment.commenter %>: <%= comment.body %><br>
<% end %>
</div>

<h2 class="mid">Оставить комментарий:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
<main class="form-contact w-100 m-auto text-center">
    <div class="form-group">
      <label class="label">Автор</label>
      <%= form.text_field :commenter, class: 'form-control', value: (current_user.first_name if user_signed_in?), required: true %>
    </div>

    <div class="form-group">
      <%= form.text_area :body, class: 'form-control', rows: '3', required: true %>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" style="margin-top: 10px;">Отправить</button>

</main>
  <% end %>

