<div class="homepage">
<% if !@article.draft? %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<% if current_user.id == @article.user_id %>
    <%= link_to "Редактировать", edit_article_path(@article) %><br>
    <%= link_to "К моим статьям", articles_path %><br>
<% end %>
<% else %>
<% if current_user.id == @article.user_id %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "Редактировать", edit_article_path(@article) %>  
<% else %>
Содержимое недоступно
<% end %>

<% end %>
</div>