<div class="mid">
<h1>Домашняя страница</h1>
    <% if user_signed_in? %>
        <p>Здравствуйте, <%= current_user.first_name %> <%= current_user.last_name %>.</p>
        <p>Ваша почта: <%= current_user.email %></p>
    <% else %>
        <p>Привет Гость!</p>
    <% end %>
</div>
<% if @articles.count != 0 %>
    <div class="blog-posts-list">
      <% @articles.each do |article| %>
        <% unless article.draft? %>
          <div class="blog-post-item">
            <%= link_to article.title, article %>  <p class="blog-post-meta "><%= article.user.first_name %> <%= article.user.last_name %><br><%= article.created_at.strftime('%d.%m.%Y в %H:%M') %></p>
          </div>
          <hr>
        <% end %>
      <% end %>
      <%= paginate @articles, window: 2 %>
    </div>
<% else %>
    <p class="mid">Здесь пока что нет статей, но Вы можете это исправить :)</p>
<% end %>

