<h1 class="mid">Восстановление пароля</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'users/shared/error_messages', resource: resource %>
  <%= f.hidden_field :reset_password_token %>

<main class="form-signin w-100 m-auto text-center">
  <form>
    <div class="field form-group">
      <label class="label">Пароль (минимум <%= @minimum_password_length %> символов)</label>
      <%= f.password_field :password, type: 'password', class: 'form-control bottom-0', id: 'user_password', placeholder: 'password', required: true %>
    </div>

    <div class="field form-group">
      <label class="label">Подтверждение пароля</label>
      <%= f.password_field :password_confirmation, type: 'password', class: 'form-control top-0-last', id: 'user_password', placeholder: 'password', required: true %>
    </div>

<div class="actions">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Отправить сообщение</button>
  </div>

    <%= render 'users/shared/links' %>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>

</main>

  <% end %>
