<header>
	<nav class="navbar navbar-expand-lg">
  		<div class="container-fluid">
    	<span class="navbar-brand" href="#">HelloBlog</span>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
       	<% if user_signed_in? %>
			<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              	<%= current_user.first_name %> <%= current_user.last_name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li class="nav-item">
       		<%= link_to 'Мои статьи', articles_path, :class => 'dropdown-item'%>
       		</li>
            <li class="nav-item">
   			<%= link_to 'Черновики', drafts_path, :class => 'dropdown-item' %>
   			</li>
        	<li class="nav-item">
        	<%= link_to 'Редактировать', edit_user_registration_path, :class => 'dropdown-item' %>
        	</li>
            <li class="nav-item">
            <%= link_to 'Выйти', destroy_user_session_path, :class => 'dropdown-item', :method => :delete %>
            </li>
            </ul>
            <% else %>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Гость
            </a>
            <ul class="dropdown-menu">
            <li class="nav-item">
            <%= link_to 'Войти', new_user_session_path, :class => 'nav-link active'%>
            </li>
            <li class="nav-item">
            <%= link_to 'Зарегистрироваться', new_user_registration_path, :class => 'nav-link active' %>
            </li>
            </ul>
        	<% end %>
        </ul>
        </div>
        </div>  

<!--         <div>
            <% if current_page?(root_path) %>
                <span>Домашняя<span>
            <% end %>
            <% if current_page?(all_articles_path) %>
                <span>Статьи<span>
            <% end %>
            <% if current_page?(new_article_path) %>
                <span>Новая статья<span>
            <% end %>
            <% if current_page?(articles_path) %>
                <span>Мои статьи<span>
            <% end %>
            <% if current_page?(drafts_path) %>
                <span>Черновики<span>
            <% end %>
            <% if current_page?(about_me_path) %>
                <span>Обо мне<span>
            <% end %>
             <% if current_page?(about_me_contact_me_path) %>
                <span>Связаться со мной<span>
            <% end %>
        </div> -->

        <div class="d-flex flex-column flex-shrink-0 p-3">
    <div class="dropdown">
      <a class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://avatars.githubusercontent.com/u/101290289?v=4" border="3" width="32" height="32" class="rounded-circle me-2">
        <strong>Разработчик</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li>
        <%= link_to "Обо мне", about_me_path, :class => 'dropdown-item'%>
      </li>
      <li>
        <%= link_to "Связаться со мной", about_me_contact_me_path, :class => 'dropdown-item'%>
      </li>
      </ul>

    	</div>
  		</div>
	</nav>
</header>
