<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
<ul class="nav nav-pills flex-column mb-auto">
  <li>
    <div class="mid">
        <%= link_to root_path do %>
          <%= image_tag 'house.svg', width: "32", height: "32", alt: "Home", class: "fill", title: "Home" %>
        <% end %>
        <%= link_to all_articles_path do %>
          <%= image_tag 'list.svg', width: "32", height: "32", alt: "Articles", class: "fill", title: "All articles"%>
        <% end %>

      <% if current_page?(all_articles_path) || current_page?(articles_path) || current_page?(drafts_path) %>
        <%= link_to new_article_path do %>
          <%= image_tag 'plus.svg', width: "32", height: "32", alt: "New article", class: "fill", title: "New article" %>
        <% end %>
      <% end %>

      <% if current_page?(new_article_path) || current_page?(edit_user_registration_path) %>
        <%= link_to :back do %>
          <%= image_tag 'arrow-left.svg', width: "32", height: "32", alt: "Back", class: "fill", title: "Back" %>
        <% end %>
      <% end %>
    </div>
  </li>
  </ul>
</div>