<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { method: :put }) do |f| %>
<h1 class="mid">Мой профиль</h1>
<main class="form-edit m-auto">
  <form>
    <div class="row">
      <div class="form-group col-7">
        <label class="label">Email</label>
        <%= f.email_field :email, autocomplete: 'email', type: 'email', class: 'form-control', placeholder: 'examle@example.com' %>
      </div>
        <div class="form-group col-7">
        <label class="label">Имя</label>
        <%= f.text_field :first_name, type: 'first_name', class: 'form-control', placeholder: 'Ivan' %>
        <label class="label">Фамилия</label>
        <%= f.text_field :last_name, type: 'last_name', class: 'form-control', placeholder: 'Ivanov' %>

          <div class="form-group">
      <label class="label">Новый пароль</label><br>
      <%= f.password_field :password, type: 'password', class: 'form-control', placeholder: 'password' %>
    </div>
    <div class="form-group password-confirmation">
      <label class="label">Подтверждение пароля</label>
      <%= f.password_field :password_confirmation, type: 'password', class: 'form-control', placeholder: 'password' %>
    </div>

    <div class="form-group current_password">
      <label class="label">Текущий пароль</label>
      <%= f.password_field :current_password, type: 'password', class: 'form-control', placeholder: 'password' %>
      <p class="description">Необходим для применения изменений</p>
    </div>
  </div>

      <div class="form-group col-5 mid">
    <% if current_user.avatar.present? %>
         <label class="label">Ваше фото</label><br> <%= image_tag current_user.avatar.variant(resize_to_fill: [300, 300]), style: 'border-radius: 10px; width: 100%;'%>
    <% else %>
            <%= image_tag 'person-circle.svg', width: '200', height: '200', alt: 'Profile', title: 'Profile', class: 'mid' %> 
    <% end %>
    <label style="padding-top: 10px; margin-bottom: -50px;"><%= f.file_field :avatar, class: "form-control", style: "padding-top: 12px;" %></label>
    </div>
  </div>




    <div class="text-center">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить</button>
    <p class="mt-3 mb-3 text-muted">&copy; 2022</p>
    <%= render 'users/shared/error_messages', resource: resource %>

  </div>
  </form>

</main>
  <% end %>
