<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<body class="text-center">
    
<main class="form-edit w-100 m-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal">Мой профиль</h1>
    <div class="form-floating">
      <%= f.email_field :email, autocomplete: "email", type: "email", class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <%= f.text_field :first_name, type: "first_name", class: "form-control", id: "floatingInput", placeholder: "Ivan" %>
      <label for="floatingPassword">Имя</label>
    </div>
    <div class="form-floating">
      <%= f.text_field :last_name, type: "last_name", class: "form-control", id: "floatingInput", placeholder: "Ivanov" %>
      <label for="floatingPassword">Фамилия</label>
    </div>
<!--         <% if @minimum_password_length %>
          <br>
          <em><%= @minimum_password_length %> characters minimum<br></em>
        <% end %> -->
    <span style="font-size: 12px;">Необязательные поля</span>
    <div class="form-floating">
      <%= f.password_field :password, type: "password", class: "form-control", id: "floatingInput", placeholder: "Password" %>
      <label for="floatingPassword">Новый пароль</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password_confirmation, type: "password_confirmation", class: "form-control", id: "floatingPassword", placeholder: "Password" %>
      <label for="floatingPassword">Подтверждение пароля</label>

    </div>
    <span style="font-size: 12px;">Необходим для применения изменений</span>
    <div class="form-floating">
      <%= f.password_field :current_password, type: "current_password", class: "form-control", id: "floatingPassword", placeholder: "Password" %>
      <label for="floatingPassword">Текущий пароль</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить</button>
    <%= render "users/shared/error_messages", resource: resource %>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>

</main>
</body>
  <% end %>