<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<body>
    
<main class="form-signup w-100 m-auto text-center">
  <form>
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
    <div class="form-floating">
      <%= f.email_field :email, autocomplete: "email", type: "email", class: "form-control bottom-0", id: "email", placeholder: "name@example.com", required: "true" %>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, type: "password", class: "form-control all-0", id: "password", placeholder: "Password", required: "true" %>
      <label for="floatingPassword">Пароль</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password_confirmation, type: "password", class: "form-control all-0", id: "floatingPassword", placeholder: "Password", required: "true" %>
      <label for="floatingPassword">Подтверждение пароля</label>
    </div>
    <div class="form-floating">
      <%= f.text_field :first_name, type: "first_name", class: "form-control all-0", id: "floatingInput", placeholder: "Ivan", required: "true" %>
      <label for="floatingPassword">Имя</label>
    </div>
    <div class="form-floating">
      <%= f.text_field :last_name, type: "last_name", class: "form-control top-0-last", id: "floatingInput", placeholder: "Ivanov", required: "true" %>
      <label for="floatingPassword">Фамилия</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегестрироваться</button>
    <%= render "users/shared/links" %>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>

</main>
</body>
    <%= render "users/shared/error_messages", resource: resource %>
  <% end %>